@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: hsl(210, 50%, 90%);
    --foreground: hsl(270, 50%, 20%);

    --muted: hsl(180, 50%, 90%);
    --muted-foreground: hsl(30, 50%, 20%);

    --popover: hsl(210, 50%, 90%);
    --popover-foreground: hsl(270, 50%, 20%);

    --card: hsl(210, 50%, 90%);
    --card-foreground: hsl(270, 50%, 20%);

    --border: hsl(180, 50%, 90%);
    --input: hsl(180, 50%, 90%);

    --primary: hsl(270, 50%, 20%);
    --primary-foreground: hsl(180, 50%, 98%);

    --secondary: hsl(180, 50%, 90%);
    --secondary-foreground: hsl(210, 50%, 90%);

    --accent: hsl(180, 50%, 90%);
    --accent-foreground: hsl(210, 50%, 90%);

    --destructive: hsl(0, 100%, 50%);
    --destructive-foreground: hsl(180, 50%, 98%);

    --ring: hsl(240, 50%, 70%);

    --radius: 0.5rem;
  }

  /* .dark {
    --background: 224 71% 4%;
    --foreground: 213 31% 91%;

    --muted: 223 47% 11%;
    --muted-foreground: 215.4 16.3% 56.9%;

    --popover: 224 71% 4%;
    --popover-foreground: 215 20.2% 65.1%;

    --card: 224 71% 4%;
    --card-foreground: 213 31% 91%;

    --border: 216 34% 17%;
    --input: 216 34% 17%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 1.2%;

    --secondary: 222.2 47.4% 11.2%;
    --secondary-foreground: 210 40% 98%;

    --accent: 216 34% 17%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;

    --ring: 216 34% 17%;

    --radius: 0.5rem;
  } */
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}
